@page "/customers-overview"



<h1 class="page-title">Customer Overview</h1>

@if (Customers == null)
{
    <p><em>Loading...</em></p>
    
} 
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Customers)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.City</td>
                <td>@customer.Email</td>
                <td>
                    @*<button class="btn btn-primary" @onclick="() => ViewDetails(customer.CustomerId)">
                        View Details
                    </button>*@
                    <a href="@($"customer-details/{customer.CustomerId}")" class="btn btn-primary table-btn">
                        Details
                    </a>
                    <a href="@($"customer-update/{customer.CustomerId}")" class="btn btn-primary table-btn">
                        Update
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}