@page "/transfer-money"

@using Microsoft.AspNetCore.Authorization
@using BlazorWebAppAuthentication.Database

@inject ApplicationContext ApplicationContext
@attribute [Authorize(Roles = "User")]

<h3>Transfer Money</h3>
<EditForm Model="@Model" OnValidSubmit="HandleTransfer" FormName="TransferMoneyForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="senderAccountId">Sender Account:</label>
        <select @bind="Model.SenderAccountId" class="form-control">
            @foreach (var account in senderAccounts)
            {
                <option value="@account.AccountId">@account.AccountName (@account.AccountId)</option>
            }
        </select>š
    </div>
    
    <div class="form-group">
        <label for="beneficiaryAccountId">Beneficiary Account ID:</label>
        <InputNumber @bind-Value="@Model.BeneficiaryAccountId" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="amount">Amount:</label>
        <InputNumber @bind-Value="@Model.Amount" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Transfer</button>
</EditForm>

@if (transactionStatusMessage != null)
{
    <div class="alert alert-info mt-2">
        @transactionStatusMessage
    </div>
}

@code {
    

}
